*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

#draw-area {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 10px 10px rgba(0, 170, 255, 0.034);
}

#button-container {
  display: flex;
  min-width: 600px;
  height: 30px;
  margin: 100px auto 10px auto;
  justify-content: space-evenly;
  flex: 0;
  background-color: transparent;
}

.grid-button {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  border: 1px solid;
  border-radius: 3px;
  min-width: 80px;
  cursor: pointer;
}

.grid-button:hover {
  border-color: green;
}

.grid-button:hover .material-symbols-outlined {
  color: green;
}

.item {
  border: 1px solid whitesmoke;
}

.item:hover {
  background-color: whitesmoke;
}

#slider-container {
  margin: 20px auto;
  text-align: center;
  max-width: 600px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: white;
  border-radius: 20px;
  width: 100%;
  height: 25px;
  transition: all 0.4s;
}
.slider::-webkit-slider-runnable-track {
  background-color: white;
  border-radius: 0.5rem;
  height: 1rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: green;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.slider:hover::-webkit-slider-thumb {
  outline: 3px solid rgb(11, 85, 11);
  outline-offset: 0.125rem;
}

.slider-value {
  margin: 0 auto;
  text-align: center;
}

#colorPicker {
  border: none;
}
